.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 335px;
    padding-bottom: 20px;
}

.card img {
    height: 350px;
    object-fit: contain;
}

.card h3 {
    font-size: 15px;
    font-weight: 500;
}

.card__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.price {
    color: #017019;
    font-size: 32px;
    font-weight: 500;
}

.catalog a {
    font-size: 20px;
    font-weight: 500;
    color: #c273d6;
    background-color: #e5e5e5;
    padding: 10px 40px;
    align-self: flex-end;
    border-radius: 4px;
    margin-bottom: 50px;
}